Source: libksysguard
Priority: extra
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 4:None),
               kdoctools-dev (>= 4.100.0),
               kgendesignerplugin (>= 4.100.0),
               kinit-dev (>= 4.100.0),
               kio-dev (>= 4.100.0),
               libkf5attica-dev (>= 4.100.0),
               libkf5auth-dev (>= 4.100.0),
               libkf5bookmarks-dev (>= 4.100.0),
               libkf5codecs-dev (>= 4.100.0),
               libkf5completion-dev (>= 4.100.0),
               libkf5config-dev (>= 4.100.0),
               libkf5configwidgets-dev (>= 4.100.0),
               libkf5coreaddons-dev (>= 4.100.0),
               libkf5crash-dev (>= 4.100.0),
               libkf5dbusaddons-dev (>= 4.100.0),
               libkf5emoticons-dev (>= 4.100.0),
               libkf5globalaccel-dev (>= 4.100.0),
               libkf5guiaddons-dev (>= 4.100.0),
               libkf5i18n-dev (>= 4.100.0),
               libkf5iconthemes-dev (>= 4.100.0),
               libkf5itemmodels-dev (>= 4.100.0),
               libkf5itemviews-dev (>= 4.100.0),
               libkf5jobwidgets-dev (>= 4.100.0),
               libkf5kdelibs4support-dev (>= 4.100.0),
               libkf5kdelibs4support5-bin (>= 4.100.0),
               libkf5newstuff-dev (>= 4.100.0),
               libkf5notifications-dev (>= 4.100.0),
               libkf5parts-dev (>= 4.100.0),
               libkf5service-dev (>= 4.100.0),
               libkf5solid-dev (>= 4.100.0),
               libkf5sonnet-dev (>= 4.100.0),
               libkf5textwidgets-dev (>= 4.100.0),
               libkf5threadweaver-dev (>= 4.100.0),
               libkf5unitconversion-dev (>= 4.100.0),
               libkf5widgetsaddons-dev (>= 4.100.0),
               libkf5windowsystem-dev (>= 4.100.0),
               libkf5xmlgui-dev (>= 4.100.0),
               libqt5webkit5-dev,
               libqt5x11extras5-dev,
               libz-dev,
               pkg-kde-tools,
               plasma-framework-dev (>= 4.100.0),
               qtbase5-dev,
               qtdeclarative5-dev,
               qtscript5-dev,
               xauth,
               xvfb
Standards-Version: 3.9.5
Section: libs
Homepage: https://projects.kde.org/projects/kde/workspace/libksysguard

Package: libkf5sysguard-dev
Section: libdevel
Architecture: any
Depends: libkf5sysguard5 (= ${binary:Version}),
         libksgrd5 (= ${binary:Version}),
         libksignalplotter5 (= ${binary:Version}),
         liblsofui5 (= ${binary:Version}),
         libprocesscore5 (= ${binary:Version}),
         libprocessui5 (= ${binary:Version}),
         ${misc:Depends}
Conflicts: kde-workspace-dev
Description: library for monitoring your system - development files
 KSysGuard is a program to monitor various elements of your system, or any
 other remote system with the KSysGuard daemon (ksysgardd) installed.
 .
 This package contains the files necessary for development.

Package: libkf5sysguard5
Section: libs
Architecture: any
Depends: libkf5sysguard5-data (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: library for monitoring your system - shared library
 KSysGuard is a program to monitor various elements of your system, or any
 other remote system with the KSysGuard daemon (ksysgardd) installed.
 .
 This package contains the shared library

Package: libksgrd5
Section: libs
Architecture: any
Depends: libkf5sysguard5-data (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: library for monitoring your system - shared library
 KSysGuard is a program to monitor various elements of your system, or any
 other remote system with the KSysGuard daemon (ksysgardd) installed.
 .
 This package contains the shared library

Package: libksignalplotter5
Section: libs
Architecture: any
Depends: libkf5sysguard5 (= ${binary:Version}),
         libkf5sysguard5-data (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: library for monitoring your system - shared library
 KSysGuard is a program to monitor various elements of your system, or any
 other remote system with the KSysGuard daemon (ksysgardd) installed.
 .
 This package contains the shared library

Package: liblsofui5
Section: libs
Architecture: any
Depends: libkf5sysguard5-data (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: library for monitoring your system - shared library
 KSysGuard is a program to monitor various elements of your system, or any
 other remote system with the KSysGuard daemon (ksysgardd) installed.
 .
 This package contains the shared library

Package: libprocesscore5
Section: libs
Architecture: any
Depends: libkf5sysguard5-data (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: library for monitoring your system - shared library
 KSysGuard is a program to monitor various elements of your system, or any
 other remote system with the KSysGuard daemon (ksysgardd) installed.
 .
 This package contains the shared library

Package: libprocessui5
Section: libs
Architecture: any
Depends: libkf5sysguard5-data (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: library for monitoring your system - shared library
 KSysGuard is a program to monitor various elements of your system, or any
 other remote system with the KSysGuard daemon (ksysgardd) installed.
 .
 This package contains the shared library

Package: libkf5sysguard5-data
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: library for monitoring your system - shared library
 KSysGuard is a program to monitor various elements of your system, or any
 other remote system with the KSysGuard daemon (ksysgardd) installed.
 .
 This package contains the data files

Package: libksysguard5-dbg
Section: debug
Architecture: any
Recommends: libqt5-dbg
Depends: libkf5sysguard5 (= ${binary:Version}), ${misc:Depends}
Description: library for monitoring your system - debug info
 KSysGuard is a program to monitor various elements of your system, or any
 other remote system with the KSysGuard daemon (ksysgardd) installed.
 .
 This package contains the debugging symbols.
